body {
    margin: 0;
    padding: 0;
    background-image: url('images/home.jpg');
    background-size: cover;
    font-family: sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

#menu ul {
    list-style: none;
}
.sublabel{
    font-size:20px;
}
#menu ul li {
    background-color: cornflowerblue;
    border: solid 1px white;
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    float: left;
    position: relative;
    border-radius: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
}

 #menu ul li a:hover {
  background-color: #ff6a00;
  color: #fff;
  border-radius: 10px;
 }
 #menu ul ul {
    position: absolute;
    display: none;
    }
 #menu ul li > ul li {
    background-color: #00ff21;
    color: #4cff00;
    border: solid 1px white;
    border-radius: 10px;
}

#menu ul li:hover > ul {
    display: block;
    border-radius: 10px;
    }
